@keyframes hover-opacity-effect {
    from {opacity: 100%;}
    to {opacity: 50%;}
}

.addtodo {
    width: 95%;
    margin-bottom: 4vh;
    background-color: var(--bg-dark);
    box-shadow: .5vh .5vh 2vh var(--prim-lite);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addtodo__input {
    align-self: stretch;
    outline: none;
    border: none;
    padding: 2vh;
    flex-grow: 2;
    font-family: 'Comfortaa', cursive;
}

.addtodo__add {
    background-color: var(--blue);
    color: var(--bg-lite);
    align-self: stretch;
    display: flex;
    align-items: center;
}

.addtodo__add:hover {
    cursor: pointer;
    animation: .2s hover-opacity-effect forwards;
}

.addtodo__add-icon {
    padding: 1vh;
}