.header {
    background-color: var(--bg-dark);
    position: fixed;
    width: 95%;
    height: 13vh;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1vh 1vh 5vh var(--prim-lite);
    z-index: 5;
}

.header__logo {
    height: 10vh;
    margin: .5vh;
}

.header__title {
    font-size: 4vh;
    text-align: center;
    text-transform: bolder;
}