@keyframes hover-opacity-effect {
    from {opacity: 100%;}
    to {opacity: 50%;}
}

.sidebar {
    background-color: var(--prim-dark);
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.sidebar__item {
    color: var(--bg-lite);
    width: 100%;
    margin-top: 5vh;
}

.sidebar__item:hover {
    cursor: pointer;
    animation: .2s hover-opacity-effect forwards;
}