@keyframes hover-opacity-effect {
    from {opacity: 100%;}
    to {opacity: 50%;}
}

.todo {
    width: 95%;
    background-color: var(--bg-dark);
    box-shadow: .5vh .5vh 2vh var(--prim-lite);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo__prompt {
    padding: 2vh;
}

.todo__delete {
    background-color: var(--red);
    color: var(--bg-lite);
    align-self: stretch;
    display: flex;
    align-items: center;
}

.todo__delete:hover {
    cursor: pointer;
    animation: .2s hover-opacity-effect forwards;
}

.todo__delete-icon {
    padding: 1vh;
}