@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

:root {
    --bg-lite: #FFFFFF;
    --bg-dark: #ECF0F1;
    --prim-lite: #636E72;
    --prim-dark: #2D3436;
    --red: #E21B5A;
    --blue: #355C7D;
}

body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
